Columns:
user_id : the Id of the user. Can be joined to user_id in user_table
timestamp : the date and time when the user hit for the first time company XYZ webpage. It is in user local time
source : marketing channel that led to the user coming to the site. It can be:
ads-["google", "facebook", "bing", "yahoo", "other"]. That is, user coming from google ads, yahoo ads, etc.
seo - ["google", "facebook", "bing", "yahoo", "other"]. That is, user coming from google search, yahoo, facebook, etc.
friend_referral : user coming from a referral link of another user
direct_traffic: user coming by directly typing the address of the site on the browser
device : user device. Can be mobile or web
operative_system : user operative system. Can be: "windows", "linux", "mac" for web, and "android", "iOS" for mobile.  Other  if it is none of the above
test: whether the user was in the test (i.e. 1 -> higher price) or in control (0 -> old lower price)
price : the price the user sees. It should match test
converted : whether the user converted (i.e. 1 -> bought the software) or not (0 -> left the site without buying it).

In [50]:
import numpy as np
import pandas as pd 
from sklearn import tree
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
!jt -t monokai -fs 95 -altp -tfs 11 -nfs 115 -T -N -cellw 88%

In [48]:
df = pd.read_csv("data/test_results.csv")

In [38]:
df.head()

,user_id,timestamp,source,device,operative_system,test,price,converted
0,604839,2015-05-08 03:38:34,ads_facebook,mobile,iOS,0,39,0
1,624057,2015-05-10 21:08:46,seo-google,mobile,android,0,39,0
2,317970,2015-04-04 15:01:23,ads-bing,mobile,android,0,39,0
3,685636,2015-05-07 07:26:01,direct_traffic,mobile,iOS,1,59,0
4,820854,2015-05-24 11:04:40,ads_facebook,web,mac,0,39,0

In [39]:
df = df.iloc[:,2:]

In [40]:
s = df["converted"].value_counts(normalize=True)
s

0    0.981667
1    0.018333
Name: converted, dtype: float64

In [41]:
colnames = ["source", "device", "operative_system"]
ch2values, pvalues = chi2(X.loc[:, colnames], X["test"])
pd.DataFrame({"chi2_value":ch2values, "pvalue"})

SyntaxError: invalid syntax (<ipython-input-41-11391a13c29b>, line 1)

In [42]:
def calc_ratios(s):
    c = s.value_counts(normaliez=True)
    d['total'] = s.shape[0]
    return d
test_ctrl_by_os = testdata.groupby('OS')['test'].applu(calc_ratios).unstack()
test_ctrl_by_os

NameError: name 'testdata' is not defined