In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("data/test_results.csv")

In [5]:
df.head()

,user_id,timestamp,source,device,operative_system,test,price,converted
0,604839,2015-05-08 03:38:34,ads_facebook,mobile,iOS,0,39,0
1,624057,2015-05-10 21:08:46,seo-google,mobile,android,0,39,0
2,317970,2015-04-04 15:01:23,ads-bing,mobile,android,0,39,0
3,685636,2015-05-07 07:26:01,direct_traffic,mobile,iOS,1,59,0
4,820854,2015-05-24 11:04:40,ads_facebook,web,mac,0,39,0

In [12]:
X = df.iloc[:,2:-1]
y = df.iloc[:,-1]

In [15]:
X = pd.get_dummies(X, drop_first= True)