# Projet Fraude

In [1]:
import warnings
warnings.simplefilter('ignore')
import pandas as pd
import numpy as np
#autres

### Importer les dataset

In [2]:
df = pd.read_csv("FraudData/Fraud_Data.csv", parse_dates = ["signup_time", "purchase_time"])
df.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0

In [3]:
df_ip = pd.read_csv("FraudData/IpAddress_to_Country.csv")
df_ip.head()

   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

### Créer une nouvelle colonne `country` en effectuant une jointure entre les deux dataset

In [4]:
countries = []
for i in range(len(df)):
    ip_address = df.loc[i, 'ip_address']
    tmp = df_ip[(df_ip['lower_bound_ip_address'] <= ip_address) &
                          (df_ip['upper_bound_ip_address'] >= ip_address)]
    if len(tmp) == 1:
        countries.append(tmp['country'].values[0])
    else:
        countries.append('NA')
        
df['country'] = countries
df.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,country
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,Japan
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,United States
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1,United States
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,NA
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,United States

### Créer une nouvelle variable `time_diff` qui sera la différence entre les variables `purchase_time` et `signup_time`

In [15]:
time_diff = df["purchase_time"] - df["signup_time"]
time_diff = time_diff.apply(lambda x: x.seconds)
df['time_diff'] = time_diff
df.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,country,time_diff
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,Japan,13882
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,United States,17944
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1,United States,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,NA,60085
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,United States,41461

In [ ]:
from datetime import datetime, time
def date_diff_in_Seconds(dt2, dt1):
    timedelta = dt2 - dt1
    return timedelta.seconds

#Specified date
date_diff_in_Seconds(df["signup_time"][0], df["signup_time"][0])

NameError: name 'data' is not defined

### Regroupper les `user_id` par `device_id`  afin d'avoir le nombre de device par client

### Faire de même pour les `ip_address`

### Traiter les variables `signup_time` & `purchase_time` afin de les différentier suivant la semaine et le week end

### Définir vos variables de travail (X,y)

### Afficher les informations du dataset afin de vizualiser les variables numeriques et categoriques

### Traiter les variables catégoriques

### Spliter vos variables

### Instancier un `RandomForestClassifier` et l'entrainer sur vos données

### Afficher l'accuracy moyenne pour 10 'fold cross validation'

### Afficher les `feature_importances_`

### Vizualiser les sur un graphique

### Afficher le `Classification report`

### Traçer la courbe AUC

### Afficher la matrice de confusion 
Qu'en pensez vous ?

### Faire une selection de certaine variables et spliter vos varibales

### Entrainer un classifieur `LogisticRegression` sur ces variables